		body {
			font-family: Verdana, Helvetica, Arial, sans-serif;
			font-size: small;
			line-height: 1.6em;
		}
		h1 {
			text-decoration: underline 2px solid black;
			font-size: 150%;
		}
		
		h1,h2 {
			color: #007e7e;
		}
		h2 {
			font-size: 130%;
		}	
		p {
			color: maroon;

		}
		#guarantee {
			font-style: italic;
			color: #444444;
			font-family: Georgia, "Times New Roman", Times, serif;
			border-color: white;
			border-width: 2px; 
			border-style: dashed;
			background-color: #a7cece;
			padding: 25px; 
			padding-left: 80px;
			margin: 30px;
			margin-right: 250px;
			line-height: 1.9em;
			background-image: url(images/background.gif);
			background-repeat: no-repeat;
			background-position: top left; 

		}
		#elixirs {
			border-color: #007e7e;
			border-width: thin; 
			border-style: solid;
			width: 200px; 

			padding-right: 20px;
 			padding-bottom: 0px;
 			padding-left: 20px;

 			margin-left: 20px;

 			text-align: center;

 			background-image: url(images/cocktail.gif);
 			background-repeat: repeat-x;

 			line-height: 1; 
 			float: right;

		}

		#footer {
			font-size: 50%;
			text-align: center;
			line-height: normal;
			margin-top: 30px;
		}
		#elixirs h2 {
			color: black;
		}
		#elixirs h3 {
			color: #d12c47;
		}
		.cd {
			font-style: italic;
		}
		.artist {
			font-weight: bold;
		}

		#elixirs a:link {
 			color: #007e7e;
		}
		#elixirs a:visited {
			 color: #333333;
		}
		#elixirs a:hover {
 			background: #f88396;
 			color: #0d5353;
		}

		#directions a:link {
			color: #007e7e;
		}
		#directions a:visited {
			color: #333333;
		} 
		#directions a:hover {
			background: lightblue; 
			color: blue;
		}

		p.greentea {
			color: green;
		}
		p.blueberry {
			color: purple;
		}
		p.raspberry {
			color: blue; 
		}
		/* this rule selects all paragraphs and colors them blue (this is a comment)

		a:link {
 			color: green;
		}
		a:visited {
			 color: red;
		}
		a:hover {
			 color: yellow;
		}
		side note: these are the states of an <a> element (visited whish is the link rule, the unvisited, and the hover. depending on the state, the <a> elements turns to the requested color.)

		*/

